body {
  background-color: lightslategrey;
}

.display {
  border: 3px solid black;
  background-color: white;
}

.question-detail {
  border: 3px solid black;
  background-color: white;
}

.btn-danger {
  margin: 10px;
}

.answer {
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
  background-color: lightslategrey;
}
