<div class="row about">

  <div class="container col-sm-10 col-md-10">
    <h2>About this Website</h2>
    <p class="">
      This Q&A message board website was created by Jordan Meier as a code review project during her time at the coding school Epicodus. It was created in a 6-8 hour period using Ember.js. As some of the hardcoded questions on this forum might suggest, she enjoys spending time with her dog, cat and chickens and reading fabulous books written by people like Douglas Adams.
    </p>
  </div>
</div>
